@page "{id:int}"
@model ECommerceRazor.Pages.Admin.Categorias.EditarModel
@{
    ViewData["Title"] = "Editar categorías";
}

<h2 class="text-center">Editar categoría</h2>
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h4><i class="fade fa-plus-circle"></i> Editar categoría</h4>
        </div>
        <div class="card-body">
            <form method="POST">
                <!--Campo oculto para el Id de la categoría-->
                <input type="hidden" asp-for="Categoria.Id" />
                <!--validation summary-->
                <div asp-validation-summary="All" class="alert alert-danger d-none" id="validation-summary"></div>
                <!--Campo: Nombre-->
                <div class="mb-3">
                    <label asp-for="Categoria.Nombre" class="form-label"></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-tag"></i></span>
                        <input asp-for="Categoria.Nombre" class="form-control" placeholder="Ingresa el nombre de la categoría" />
                    </div>
                    <span asp-validation-for="Categoria.Nombre" class="text-danger"></span>
                </div>
                <!--Campo: OrdenVisualización-->
                <div class="mb-3">
                    <label asp-for="Categoria.OrdenVisualizacion" class="form-label"></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-sort-numeric-up-alt"></i></span>
                        <input asp-for="Categoria.OrdenVisualizacion" class="form-control" placeholder="Ingresa el orden de visualización" />
                    </div>
                    <span asp-validation-for="Categoria.OrdenVisualizacion" class="text-danger"></span>
                </div>
                <!--Botones-->
                <div class="d-flex justify-content-between">
                    <a asp-page="Index" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Regresar</a>
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <!--Validación de formulario del lado del cliente-->
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const validationSummary = document.getElementById("validation-summary");
            //Mostrar el contenedor de errores solo si tiene errores
            if(validationSummary.innerHTML.trim() !== "")
                validationSummary.classList.remove("d-none");
        });
    </script>
}

