@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Todas las entregas seran a domicilio o en un punto de acuerdo mutuo.</p>
<ul>
    <li>Todas las entregas seran a domicilio o en un punto de acuerdo mutuo.</li>
    <li>Todas los pagos seran en efectivo.</li>
    <li>Verificar existencia antes de hacer un pedido.</li>
</ul>
