html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    /*margin-bottom: 60px;*/
   // padding-bottom: 60px; /* espacio para que el contenido no quede debajo del footer */
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.validation-summary-valid {
    display: none; /* Oculta el contenedor de errores cuando no hay errores */
}

.validation-summary-errors {
    diplay: block; /* Muestra el contenedor de errores cuando existen errores */
}

/*Estilos botones ver detalle*/
.btn-outline-dark:hover {
    background-color: #343a40; /* Oscurece el fondo */
    color: #ffffff; /* Cambia el texto a blanco */
    transform: scale(1.05); /* Añade un ligero zoom */
}

.btn-outline-dark:hover i {
    transform: rotate(360deg); /* Gira el ícono */
    transition: transform 0.4s ease; /* Suaviza la animación */
}

/* Estios para mantener el footer abajo de la pantalla*/
html, body {
    height: 100%;
    margin: 0;
}

/* Estilo para el footer fijo */
.footer-fijo {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

/* Contenedor principal con Flexbox en columna */
.contenedor {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* El contenido principal crece y empuja el footer hacia abajo */
main {
    flex: 1;
    padding: 20px;
}

/* Footer al fondo */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}
